/* Here you apply all kinds of styling to your app UIs */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

* {
  font-family: 'Inter', sans-serif;
}

.any-heading,
.any-paragraph {
  padding: 0;
}
