/* Here you apply all kinds of styling to your app UIs */

@import url(https://use.fontawesome.com/releases/v6.1.1/css/all.css);
@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

* {
  color: #272727cc;
  font-family: 'Inter', sans-serif;
}

.no-spacing {
  padding: 0;
  margin: 0;
}

.d-flex-align-center {
  display: flex;
  align-items: center;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

/* section */

section {
  justify-content: center;
  min-height: 100vh;
  max-width: 400px;
  margin: 0 auto;
}

section > div {
  background: #fff;
  box-shadow: 0 1px 4px black;
}

/* form */

form {
  width: 100%;
}

/* form heading && field-wrap */

.heading-wrapper,
.field-wrap {
  justify-content: space-between;
}

.heading-wrapper h1 {
  font-size: 20px;
}

.heading-wrapper i {
  transform: rotate(90deg);
}

.field-wrap span i {
  font-size: 15px;
  color: #2727273d;
  transform: rotate(90deg);
}

/* to-do-list-container */

.to-do-list {
  width: 100%;
  gap: 2px;
}

.to-do-list li {
  gap: 10px;
}

.status-completed {
  color: #3f383875;
}

.task-selected {
  background: #101030;
  color: grey !important;
}

.task-selected .task-desc::placeholder {
  color: inherit;
}

.task-desc {
  color: inherit;
  font-family: inherit;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
}

.status-completed .task-desc {
  text-decoration: line-through;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

li button {
  cursor: move;
}

.to-do-refresh-btn,
li button {
  background: none;
}

button:focus {
  border: none;
}

button.fa-trash {
  cursor: pointer;
  color: grey;
}

.to-do-clear-btn {
  padding: 15px 5px;
  width: 100%;
}

.to-do-clear-btn:disabled {
  cursor: not-allowed;
}

input[type='text'] {
  box-sizing: border-box;
  border: none;
  width: 100%;
  padding: 5px;
  background: none;
}

input[type='text']:focus {
  outline: none;
  border: none;
}

input[name='desc']::placeholder {
  font-style: italic;
}

.row {
  padding: 10px 15px;
  border-bottom: 1px solid #20202025;
}
